.container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;
}

.item {
    text-align: center;
    color: white;
}


.azul{background: #00274D;}

.vermelho{background: red;}